p {
    font-size: 35px;
}

span {
    font-size: 35px;
    padding: 2px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul.buttons {
    display: block;
    width: 100%;
    font-size: 0;
}

ul.buttons li {
    width: 25%;
    display: inline-block;
    padding: 2px;
}

ul.buttons li div {
    justify-content: center;
}

ul.buttons li.half-width-li {
    width: 50%;
}

li {
    padding-left: 2px;
    padding-right: 2px;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    background-color: #f8e765;
    height:
}

.calculator-button {
    display: inline-block;
    position: relative;
}

.content-width {
    max-width: 350px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.outline-corner {
    border-radius: 17px;
}

#calculator {
    background-color: #a22cc0;
}

.display {
    padding: 12px;
    background-color: #f8e765;
}

.display-result {
    text-align: right;
    font-weight: bold;
}