/* 全体のレイアウト */

p {
    font-size: 35px;
}

span {
    padding: 2px;
}

.content-width {
    max-width: 350px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.outline-corner {
    border-radius: 17px;
}

#calculator {
    background-color: #a22cc0;
}

input {
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 0;
    font-weight: normal;
    text-align: right;
}

/* ディスプレイ */

.display {
    width: 100%;
    height: 78px;
    padding: 12px;
    border: 0;
    text-align: right;
    font-size: 40px;
    font-family: "Hiragino Kaku Gothic Pro";
    background-color: #f8e765;
    color: #000;
}

/* .display {
    padding: 12px;
    background-color: #f8e765;
}

input#result {
    width: 100%;
    height: 100%;
    padding: 2px;
    border: 0;
    text-align: right;
    font-size: 40px;
    font-family: "Hiragino Kaku Gothic Pro";
    background-color: #f8e765;
    color: #000;
} */

/* ボタン */

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.buttons {
    margin-top: 20px;
}

ul.buttons {
    display: block;
    width: 100%;
    font-size: 0;
}

ul.buttons li {
    width: 25%;
    display: inline-block;
    padding: 2px;
}

ul.buttons li.half-width-li {
    width: 50%;
}

ul.buttons li div {
    justify-content: center;
}

.button, .enzan, .acEqual-button {
    align-items: center;
    background-color: #f8e765;
}

/* .calculator-button {
    display: inline-block;
    position: relative;
} */

input.button, .enzan, .acEqual-button {
    width: 100%;
    height: 100%;
    padding: 4px;
    border: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-family: "Hiragino Kaku Gothic Pro";
}

input.button:hover {
    background-color: #fff8c7;
}

input.enzan:hover {
    background-color: #fff8c7;
}

input.acEqual-button:hover {
    background-color: #fff8c7;
}